﻿
@{
    ViewBag.Title = "Index";
}
@using ShoppingChart1.Models

<html>
<head>
    <meta name="viewport" content="width=device-width" >
    <title>Index</title>
    <link rel="stylesheet" href="Site.css"/>
</head>
<body class="class2">
    <h3>Product List</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr id="id2">

            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Buy</th>

        </tr>
        @foreach (Product product in ViewBag.products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td><img src="~/Content/Images/@product.Photo" width="60" /></td>


                <td>@product.Price</td>
                <td align="center">
                    <a href="@Url.Action("Buy","Cart",new{id=product.Id})"> Buy Now</a>

                </td>

            </tr>


        }

    </table>
   
</body>
        
</html>